<%= render "home/menu" %>

<div class="row">
	<div class="col-md-12">
	  <h3>Acerca de</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Este preyecto esta realizado sin fines de lucro a fin de conectar personas que desean viajar. Fomentando el intercambio cultural. </p>
	</div>
</div>