<%= render "home/menu" %>


<div class="row">
	<div class="col-md-12"><br><br>
		<p>
Bienvenidos a CouchInn, este sitio presta el servicio para todos aquellos que quieran viajar puedan encontrar hospedaje en algún punto de nuestro país. Siendo un servicio totalmente gratuito que busca el intercambio cultural.</p>
	</div>
</div>




