<% if @ablity.can? :manage, :all %>

<h1> Couch</h1>

<table class="table">
	<tr>
		<td>Titulo</td>
		<td>Descripcion</td>
		<td>se puede?</td>
	</tr>
	<tr>
		<td> <%= @couch_type.titulo %> </td>  
		<td> <%= @couch_type.descripcion %> </td> 
		<td> <%= (@couch_type.enabled) ? "Disponible" : "Usurpado"  %> </td>
	</tr>
	

</table>

<% else %>
	no tiene los permisos suficientes para admin
<% end %>